@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 225 100% 97%;
    --foreground: 233 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 233 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 233 30% 20%;
    --primary: 233 64% 30%;
    --primary-foreground: 225 100% 99%;
    --secondary: 225 30% 90%;
    --secondary-foreground: 233 30% 20%;
    --muted: 225 30% 90%;
    --muted-foreground: 233 30% 45%;
    --accent: 180 45% 37%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 30% 88%;
    --input: 225 30% 92%;
    --ring: 233 64% 30%;
    --chart-1: 233 64% 30%;
    --chart-2: 180 45% 37%;
    --chart-3: 233 40% 50%;
    --chart-4: 180 30% 55%;
    --chart-5: 233 50% 70%;
    --radius: 0.5rem;
    --sidebar-background: 233 40% 15%;
    --sidebar-foreground: 225 30% 85%;
    --sidebar-primary: 225 100% 97%;
    --sidebar-primary-foreground: 233 64% 30%;
    --sidebar-accent: 233 40% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 233 40% 20%;
    --sidebar-ring: 225 100% 97%;
  }
  .dark {
    --background: 233 20% 10%;
    --foreground: 225 30% 90%;
    --card: 233 20% 12%;
    --card-foreground: 225 30% 90%;
    --popover: 233 20% 10%;
    --popover-foreground: 225 30% 90%;
    --primary: 225 90% 80%;
    --primary-foreground: 233 64% 30%;
    --secondary: 233 20% 20%;
    --secondary-foreground: 225 30% 90%;
    --muted: 233 20% 20%;
    --muted-foreground: 225 30% 60%;
    --accent: 180 45% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 20% 20%;
    --input: 233 20% 20%;
    --ring: 225 90% 80%;
    --sidebar-background: 233 20% 10%;
    --sidebar-foreground: 225 30% 85%;
    --sidebar-primary: 225 90% 80%;
    --sidebar-primary-foreground: 233 64% 30%;
    --sidebar-accent: 233 20% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 233 20% 20%;
    --sidebar-ring: 225 90% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
